
<mat-card>

  <form #toyForm="ngForm" (ngSubmit)="toyById()">

    <mat-card-header>
        <mat-card-title>
          <h2>Find Toy by Code</h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
         <mat-form-field>
           <input #code [(ngModel)]="toy.code" matInput name="code" placeholder="Toy Code" required>
        </mat-form-field>
<br/>

    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!toyForm.form.valid">Find</button>
      <button (click)="remove()" [routerLink]="['/toy-list']" color="secondary" mat-raised-button>Delete</button>
      <button [routerLink]="['/toy-updateToy/', toy.code]" color="secondary" mat-raised-button>Update</button>
      <!-- <button mat-raised-button color="primary" [routerLink]="['/toy-delete/', toy.code]">Delete</button> -->
        <a mat-button routerLink="/toy-list">Cancel</a>
    </mat-card-actions>

</form>
</mat-card>

<!--

<h3>Find By Id</h3>
<div style="width: 300px;">
  <form (ngSubmit)="ngOnInit()">
    <div class="form-group">
      <label for="ToyId">Toy name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="xyz.name" name="name">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

-->

<div *ngIf="isShown">
  <ul>
    <h5>
      <li>Toy Name : {{toyRes.name}}</li>
      <li>Toy Price : {{toyRes.price}}</li>
      <li>Max Age : {{toyRes.maxAge}}</li>
      <li>Min Age : {{toyRes.minAge}}</li>
</h5>
</ul>
</div>
<div *ngIf="!isShown">
  Toy is not Found
</div>
